:root {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    background-color: rgb(255, 251, 247);
    color: #262626;
}

html {
    width: 100vw;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
}

/* HEADER */

#header-container {
    background-image: url(./recources/bgImg.jpg);
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 350px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#logo {
    font-family: 'Dancing Script', cursive;
    font-size: 130px;
    font-weight: 600;
    color: #262626;
    z-index: 2;
}

.btn {
    background-color: rgb(222, 207, 190);
    font-size: 1.2rem;
    border: none;
    padding: 15px 25px;
    border-radius: 40px;
    text-transform: uppercase;

    z-index: 3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

    transition: background-color 200ms;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(241, 235, 228);
}

.btn:active {
    background-color: rgb(248, 243, 237);
}

.rndBtn {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);

    margin: 0 auto;
}

/* SELECTION */

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 90px;
    gap: 50px;
}

#main-container p {
    font-size: 1.3rem;
}

.selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    gap: 12px;
    width: auto;
}

#search-input {
    font-size: 1.2rem;
    padding: 15px 25px;

    border-radius: 40px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* RESULTS */

.more {
    background-color: rgb(222, 207, 190);
    margin-top: 30px;
}

#results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 20px;
}

#results-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(20vw, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    justify-content: center;
}

.meal-element {
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 30vw;
    
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: start;
}

.meal-header {
    background-color: rgb(241, 235, 228);
    height: 5rem;
    width: 100%;
    border-radius: 30px 30px 0 0;
    overflow: hidden; /* Nasconde il contenuto che eccede */
    display: flex;
    align-items: center;
    justify-content: center;
}

.meal-title {
    margin: 10px;
    font-size: 1.5rem;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
    width: 100%;
    box-sizing: border-box;
}

.meal-img {
    max-width: 100%;
    min-width: 100%;
    height: 100%;
}

.meal-main {
    width: 100%;
}

.meal-footer {
    background-color: rgb(241, 235, 228);
    height: 4rem;
    width: 100%;
    border-radius: 0 0 30px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calories-section {
    padding-left: 15px;
}

.button-section {
    width: 40%;
    height: 100%;
}

.meal-url {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(206, 187, 164);
    text-decoration: none;
    color: #fff;
}


@media (max-width: 600px) {
    #results-grid {
        grid-template-columns: repeat(1, minmax(70vw, 1fr));
    }
    .meal-element {
        border-radius: 30px;
        background-color: #fff;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        width: 70vw;
        
        overflow: hidden;
    
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}
